@import "reset/reset";
@import "settings/fonts";
@import "settings/colors";
@import './components/all';

body {
  font-family: $font-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
